site_name: Link's GitHub Pages
site_url: https://linkch0.github.io/
site_description: Link's GitHub Pages
repo_name: linkch0/linkch0.github.io
repo_url: https://github.com/linkch0/linkch0.github.io
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2019 - 2026 Link Chen

theme:
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - navigation.tracking
    - navigation.tabs
    # - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.action.view
    - content.action.edit
    # - toc.integrate
    - toc.follow
  icon:
    logo: material/atom-variant
    repo: fontawesome/brands/github

plugins:
  - blog:
      blog_toc: true
  - search
  - tags
  - glightbox
  - mkdocs-jupyter
  - group:
      # CI: true is default in GitHub Actions
      enabled: !ENV [CI, false]
      plugins:
        - optimize
        - social
        - git-revision-date-localized:
            enable_creation_date: true
        - git-committers:
            repository: linkch0/linkch0.github.io
            branch: main
            token: !ENV ["MKDOCS_GIT_COMMITTERS_APIKEY"]

extra:
  social:
    - icon: fontawesome/solid/envelope
      link: mailto:linkch@qq.com
      name: Email
    - icon: fontawesome/brands/github
      link: https://github.com/linkch0
      name: GitHub
    - icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/33514662
      name: Bilibili
  # generator: false

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css

nav:
  - Home:
      - index.md
      - index.zh.md
      - Notes:
          - Utilities:
              - notes/utilities/Vim.md
              - notes/utilities/Command-Lines.md
              - notes/utilities/Softwares.md
          - Techniques:
              - notes/techniques/BigData.md
              - notes/techniques/NLP.md
          - Languages:
              - notes/languages/C.md
              - notes/languages/Java.md
              - notes/languages/Python.md
              - notes/languages/Vocabulary.md
          - notes/Misc.md
      - License: https://squidfunk.github.io/mkdocs-material/license/
  - Blog:
      - blog/index.md
  - Courses:
      - courses/index.md
      - LLM:
          - CS336:
              - courses/LLM/CS336/introduction.md
              - courses/LLM/CS336/lecture.md
          - InternLM:
              - courses/LLM/InternLM/lecture.md
              - courses/LLM/InternLM/assignment.md
      - Algorithms:
          - courses/Algorithms/introduction.md
      - CSAPP:
          - courses/CSAPP/introduction.md
          - courses/CSAPP/lecture.md
          - courses/CSAPP/lab.md
      - Operating Systems:
          - courses/OS_JYY/introduction.md
      - Python Libraries:
          - courses/PythonLibs/numpy.ipynb
          - courses/PythonLibs/pandas.ipynb
          - courses/PythonLibs/scikit-learn.ipynb
          - courses/PythonLibs/torch.ipynb
          - courses/PythonLibs/hugging-face.ipynb
          - courses/PythonLibs/matplotlib-seaborn-plotly.ipynb
  - Projects:
      - projects/index.md
